[Unit]
Description=D-Bus System Message Bus
Documentation=man:dbus-daemon(1)
Requires=dbus.socket

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-acti>
ExecReload=/usr/bin/dbus-send --print-reply --system --type=method_call --dest=org.freedesktop>
OOMScoreAdjust=-900

FileDescriptorStoreMax=512
IPAddressAllow=192.168.1.0/24
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=true
ProtectClock=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectProc=invisible
PrivateTmp=yes
ProtectSystem=strict
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6 AF_PACKET
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

#CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH

Restart=on-failure
